# Git & VCS
.git
.gitignore

# Node output
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# OS/editor
.DS_Store
Thumbs.db
*.swp
*~
*.bak

# Env files (we pass via env_file:)
.env*
!/.env.omjapp.example

# Local dist (we build inside the container)
dist
